body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%; /* Ensures the body takes the full height of the viewport */
  margin: 0; /* Reset default margins */
  padding: 0; /* Reset default paddings */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

body {
  min-height: 100vh; /* Ensures minimum height is full viewport height */
  /* Allows body content to grow larger than the viewport and enables vertical scrolling */
  overflow-y: hidden;
}
